<!DOCTYPE html>
<html lang="en" ng-app="london_app">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title>London</title>
</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
	<script src="https://code.angularjs.org/1.7.8/angular-route.js"></script>
	<script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
	<script src="app.js"></script>
	<script src="components/Home_Guest/homeGuestCtrl.js"></script>
	<script src="components/Login/loginCtrl.js"></script>
	<script src="components/Register/registerController.js"></script>
	<script src="components/All_Points_Interst/allPOICtrl.js"></script>
	<script src="components/Home_User/homeUserCtrl.js"></script>
	<script src="components/Favourites/favouritesCtrl.js"></script>
	<script src="indexController.js"></script>
	<script src="Services/tokenStorage.js"></script>
	<script src="Services/poiModal.js"></script>
	<script src="Services/DBdelete.js"></script>

	<div ng-controller="indexController as idxCtrl">
		<ul>
			<li><a class="menuBtns" ng-if="!$root.isLoggedIn" href="/">Home</a></li>
			<li><a class="menuBtns" ng-if="$root.isLoggedIn" href="#!/homeUser">Home</a></li>
			<li><a class="menuBtns" href="#!/about">About</a></li>
			<li><a class="menuBtns" href="#!/poi">POI</a></li>
			<li><a class="menuBtns" ng-if="!$root.isLoggedIn" href="#!/login">Login</a></li>
			<li><a class="menuBtns" ng-if="!$root.isLoggedIn" href="#!/register"> Register </a></li>
			<li><a class="menuBtns" ng-if="$root.isLoggedIn" href="#!/favs">Favourites</a></li>
			<li><a class="menuBtns" ng-if="$root.isLoggedIn" ng-click="$root.logout()"
					style="font-weight: bold; color:pink ; cursor: pointer"> Logout</a></li>
			<li style="float: right; cursor: default"><a> Hello {{$root.loggedUser}} </a></li>
		</ul>

		<div id="ngView" ng-view></div>

		<div id="modal-dialog">
			<header class="modalHeader">
				<h4 id="poiName"></h4>
				<button id="X" ng-click="idxCtrl.closeModal()" class="modalHeader">X</button>
			</header>
			<br><br><br>
			<div id="poiContent">
				<div style="display:flex; justify-content: space-evenly">
					<img id="poiImage" width="400" height="200">
					<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					<div>
						<p id=poiDesc></p> <br><br>
						<div style="display: inline-flex">
							<label>Number of Views: <span id="poiViews"></span></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<label>Rating: <span id="poiRating"></span>% People like this!</label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div><br><br>
						<button ng-if="$root.isLoggedIn" ng-click="idxCtrl.toggle() ; myTextarea = '' ; reviewRank = '' "
							ng-show="!idxCtrl.myVar">Add new review</button>

					</div>
				</div>
				<br>
				<div ng-show="idxCtrl.myVar">
					<h3>Share with us what you think about {{idxCtrl.poiName}}!</h3>
					<div>
						<textarea id="reviewText" ng-model="myTextarea" rows="10" cols="100" resize="none"></textarea>
					</div>
					<div>
						<fieldset class="rating">
							<input ng-model="reviewRank" type="radio" id="star5" name="rating" value="5" /><label
								class="full" for="star5" title="Awesome - 5 stars"></label>
							<input ng-model="reviewRank" type="radio" id="star4" name="rating" value="4" /><label
								class="full" for="star4" title="Pretty good - 4 stars"></label>
							<input ng-model="reviewRank" type="radio" id="star3" name="rating" value="3" /><label
								class="full" for="star3" title="Meh - 3 stars"></label>
							<input ng-model="reviewRank" type="radio" id="star2" name="rating" value="2" /><label
								class="full" for="star2" title="Kinda bad - 2 stars"></label>
							<input ng-model="reviewRank" type="radio" id="star1" name="rating" value="1" /><label
								class="full" for="star1" title="Sucks big time - 1 star"></label>
						</fieldset>
					</div>
					<br>
					<button ng-click="idxCtrl.addReview(idxCtrl.poiName,myTextarea,reviewRank); idxCtrl.myVar = false">Submit</button>
					<button ng-click="idxCtrl.toggle()" ng-show="idxCtrl.myVar">Cancel</button>
				</div>
				<div ng-show="!idxCtrl.myVar" id="comments">
					<h5>Comments</h5>
					<!-- <table id="comments">
						<thead>
							<tr>
								<th>Review</th>
								<th>Rank</th>
							</tr>
						</thead>
					</table> -->


					 <table>
						<thead>
							<tr>
									<th>Rank</th>
								<th>Review</th>
							</tr>
						</thead>
						<tr ng-repeat="sdfs in idxCtrl.ModalService.zibi">
							<td>{{ sdfs.rankVal }}</td>
							<td>{{ sdfs.review_content }}</td>

						</tr>
					</table> 
				</div>
			</div>
		</div>
	</div>
</body>

</html>