<h1><span>All Points Of Interest In London</span></h1>
<br />
<p ng-model="localFav.length" ng-if="$root.isLoggedIn">You saved {{ localFav.length }} places in london!</p>
<p ng-if="$root.isLoggedIn">Just click on the icon to see your favorite places in London.<img
    src="misc\favoritefolder.png" ng-click="allPOICtrl.gotoFAV()" />
</p>
<div>
  You can choose the category of the points of views you looking for :
  <select ng-model="category" aria-placeholder="All">
    <option value="">All</option>
    <option value="Food">Food</option>
    <option value="Culture">Culture</option>
    <option value="Shopping">Shopping</option>
    <option value="Night_Life">Night Life</option>
  </select>
  <br />
  <br />
  Search by the name of the point of view you looking for :
  <input type="text" ng-model="searchText.name" />
  <br />
  <br />
  Sort By :
  <select ng-model="order">
    <option value="">Name</option>
    <option value="poiRank">Rank</option>
    <!-- <option value="numViews">Num of Views</option> -->
    <option value="category">Category</option>
  </select>
  <br />
  <br />
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Category</th>
        <th>Num Of Views</th>
        <th>Description</th>
        <th>Picture</th>
      </tr>
    </thead>
    <tr ng-repeat="x in (afterFilter = (allPois | filter:searchText | filter:category | orderBy:order))">
      <td class="viewBtn" ng-click="allPOICtrl.open(x)">{{ x.name }}</td>
      <td>{{ x.poiRank }}</td>
      <td>{{ (x.category == "Night_Life") ? "Night Life" : x.category }}</td>
      <td>{{ x.numViews }}</td>
      <td>{{ x.poiDescription }}</td>
      <td class="viewBtn" ng-click="allPOICtrl.open(x)">
        <img ng-src="{{ x.picture }}" height="250" width="450" />
      </td>
      <!-- Like / Dislike -->
      <td ng-if="$root.isLoggedIn">
        <img src="misc\heartreg.png" ng-click="allPOICtrl.saveInFavLocalList(x)" ng-show="!allPOICtrl.checkIfinFav(x)" />
        <img src="misc\heartfav.png" ng-click="allPOICtrl.saveInFavLocalList(x)" ng-show="allPOICtrl.checkIfinFav(x)" />
      </td>
      <!-- Like / Dislike -->

    </tr>
  </table>

  <div ng-if="!afterFilter.length">
    We're sorry there's no results for your search. <br />
    but Hi! you can try to search another place!
  </div>
</div>