<h1 ng-controller="AboutController as aboutCtrl"><span>About London</span></h1>
<p>
  London is one of the most cosmopolitan, international and diverse cities in
  the world. <br />
  With a population of 7.8 million and more than 300 languages spoken, <br />
  the people of London represent cultures from all around the globe. <br />
</p>
<img src="https://cdn.londonandpartners.com/visit/general-london/areas/river/76709-640x360-houses-of-parliament-and-london-eye-on-thames-from-above-640.jpg" width="450" height="250">
<div>
  <h1><span>Theatre, music and nightlife</span></h1>
  <p>
    London has a lot of choice when it comes to nightlife, from live music to
    pubs, clubs and cocktail bars – many of which are free entry. <br />
    It is often possible to get discounted tickets for West End shows by buying
    them on the day. <br />
    There are also many affordable fringe performances and open-mic nights from
    up-and-coming performers. <br />
  </p>
  <img src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2018/11/08/10/studio-338.jpg?w968" width="400" height="250">
</div>
<h1><span>Museums, galleries and libraries</span></h1>
<div>
  <p>
    London has more art galleries and museums than any other UK city. <br />
    The major museums, such as the British Museum, The National Gallery, the
    Science Museum and Tate Modern all offer free entry. <br />
    London is also home to the largest library in the world, known as the
    British Library, <br />
    which students can use along with Senate House Library and Queen Mary's
    libraries.
  </p>
  <img src="https://www.tate.org.uk/sites/default/files/styles/width-720/public/images/newtatemodernsouthview.jpg" width="400" height="250">
</div>
<h1><span>Landmarks</span></h1>
<div>
  <p>
    London contains four World Heritage Sites: the Tower of London, Kew Gardens,
    the site comprising the Palace of Westminster, <br />
    Westminster Abbey, and St Margaret's Church and the historic settlement in
    Greenwich where the Royal Observatory.
    <br />
    Other landmarks include Buckingham Palace, the London Eye, Piccadilly
    Circus, St Paul's Cathedral, Tower Bridge, Trafalgar Square and The Shard.
    <br />
  </p>
  <img src="https://www.planetware.com/photos-large/ENG/england-london-tower-of-london-from-water.jpg" width="400" height="250">
</div>
<h1><span>Shopping, Food and eating out</span></h1>
<div>
  <p>
    Oxford Street is famous for its flagship high street stores. <br />
    Alternatively there are lots of shopping centres and markets to explore,
    from Camden Market to Portobello Road. <br />
    London has cuisine from around the world – from dim sum to lahmacun, and
    sushi to satay. <br />
    As well as restaurants to suit all budgets, there are great fresh food
    markets such as Borough Market and Broadway Market.
  </p>
  <img src="https://assets.londonist.com/uploads/2018/05/i875/080518_77_preview.jpg" width="450" height="250">
</div>

<p>
  So come visit London !! Use our site to save time And especially get a lot of
  information!
</p>
