<div>
	<form name='regForm' id='regForm' ng-submit='registerCtrl.submitRegister(regForm.$valid)' novalidate>
		<!-- USERNAME -->
		<label>Username:</label>
		<input type="text" name="username" ng-model="registerCtrl.username" ng-minlength='3' ng-maxlength='8' ng-pattern="/^[a-zA-Z]*$/" required>
		<span ng-show="regForm.username.$dirty && regForm.username.$error.required">Enter username.</span>
		<span ng-show="regForm.username.$error.maxlength || regForm.username.$error.minlength || regForm.username.$error.pattern">Enter 3-8 alphabetical characters.</span>
		<br>
		<!-- PASSWORD -->
		<label>Password:</label>
		<input type="password" name="password" ng-model="registerCtrl.password" ng-minlength='5' ng-maxlength='10' ng-pattern="/^[0-9a-zA-Z]*$/" required>
		<span ng-show="regForm.password.$dirty && regForm.password.$error.required">Enter password.</span>
		<span ng-show="regForm.password.$error.maxlength || regForm.password.$error.minlength || regForm.password.$error.pattern">Enter 5-10 alphanumeric characters.</span>
		<br>
		<!-- FIRST NAME -->
		<label for="firstName">First Name:</label>
		<input type="text" name="firstName" ng-model="registerCtrl.firstName" ng-pattern="/^[ a-zA-Z]*$/" required>
		<span ng-show="regForm.firstName.$dirty && regForm.firstName.$error.required">Enter a valid first name.</span>
		<span ng-show="regForm.firstName.$error.pattern">only letters!</span>
		<br>
		<!-- LAST NAME -->
		<label for="lastName">Last Name:</label>
		<input type="text" name="lastName" ng-model="registerCtrl.lastName" ng-pattern="/^[ a-zA-Z]*$/" required>
		<span ng-show="regForm.lastName.$dirty && regForm.lastName.$error.required">Enter a valid last name</span>
		<span ng-show="regForm.lastName.$error.pattern">only letters!</span>
		<br>
		<!-- CITY -->
		<label for="city">City:</label>
		<input type="text" name="city" ng-model="registerCtrl.city" ng-pattern="/^[ a-zA-Z]*$/" required>
		<span ng-show="regForm.city.$dirty && regForm.city.$error.required">Enter a valid city name</span>
		<span ng-show="regForm.city.$error.pattern">only letters!</span>
		<br>
		<!-- COUNTRY -->
		<label for="countries">Country:</label>
		<select id="countries" name="countries" form="regForm" ng-model="registerCtrl.country" 
			ng-options="country as country.name for country in countries track by country.id" required autofocus>
			<option id="defaultOption" value="" selected></option>
		</select>
		<span ng-hide="regForm.countries.$error.required"></span>
		<br>
		<!-- EMAIL -->
		<label for="email">Email:</label>
		<input type="email" name="email" ng-model="registerCtrl.email" required>
		<span ng-show="regForm.email.$error.email">Enter a valid email address.</span>
		<span ng-show="regForm.email.$dirty && regForm.email.$error.required">Enter email address!</span>
		<br><br>
		<!-- FAVOURITES -->
		<label for="categories"><u>Select favourite categories:</u></label>
		<span ng-hide="registerCtrl.validateMin2Cats()">&nbsp;&nbsp; (Select at least 2 categories!)</span><br>
		<label for="categories" ng-repeat="cat in registerCtrl.cats"><br>
			<input type="checkbox" name="categories" ng-click="registerCtrl.checkedCategory(cat.id)"> {{cat.name}} 
		</label>
		<br><br>
		<label><u>Password Recovery Questions:</u></label>
		<span ng-hide="registerCtrl.verifyQuestions()">&nbsp;&nbsp;	(Answer at least two questions!)</span>
		<br><br>
		<!-- MOM NAME -->
		<label for="momOriginLastName">momOriginLastName:</label>
		<input type="text" name="momOriginLastName" ng-model="registerCtrl.momOriginLastName"><br>
		<!-- ELEM SCHOOL -->
		<label for="elementarySchoolName">elementarySchoolName:</label>
		<input type="text" name="elementarySchoolName" ng-model="registerCtrl.elementarySchoolName"><br>
		<!-- FAV COLOR -->
		<label for="favouriteColor">favouriteColor:</label>
		<input type="text" name="favouriteColor" ng-model="registerCtrl.favouriteColor"><br>
		<!-- BFF -->
		<label for="childhoodBFF">childhoodBFF:</label>
		<input type="text" name="childhoodBFF" ng-model="registerCtrl.childhoodBFF"><br>
		<br><br>
		<!-- SUBMIT -->
		<button type="submit" ng-disabled="regForm.$invalid">Register</button>
	</form>
</div>