<style>
	.POI:hover {
		cursor: pointer;
	}
</style>

<div style="margin: 30px; display: flex; flex-direction: column; align-items: center">
		<h1 class="text-uppercase text-center" style="height: 50px;font-family: Montserrat, sans-serif;font-size: 45px;font-weight: bold">IT'S LONDON TIME <img src="misc\tour-bus.png" style="margin-bottom: 15px"></h1>
		<table style="margin-top: 20px; width: 60% ;font-family: Montserrat, sans-serif;font-size: 20px;">
		<th colspan="2"> For you to enjoy the beauty of London, please login :) <br>
			Incase you don't have an account, you are more than welcome to register and enjoy this wonderfull city!  </th>
		<tr>
			<td>Please Login</td>
			<td>Please Register</td>
		</tr>
		<tr>
			<td>
				<button class="btn btn-primary border rounded shadow-lg text-uppercase" style="background-color: #1c63aa;font-family: Montserrat, sans-serif;font-size: 24px;" ng-click="homeGuestCtrl.goto('/login')">Login</button>
			</td>
			<td>
				<button class="btn btn-primary border rounded shadow-lg text-uppercase" style="background-color: #1c63aa;font-family: Montserrat, sans-serif;font-size: 24px;" ng-click="homeGuestCtrl.goto('/register')">Register</button>
			</td>
		</tr>
	</table>
	<br>
	<table>
		<tr>
			<td class="POI" id="poi0" style="font-family: Montserrat, sans-serif;font-size: 20px;font-weight: bold" ng-click="homeGuestCtrl.open(homeGuestCtrl.pois[0])">
				<div>
					<p>{{homeGuestCtrl.pois[0].name}}</p>
					<img src={{homeGuestCtrl.pois[0].picture}} width="400" height="250">
				</div>
			</td>
			<td class="POI" id="poi1" style="font-family: Montserrat, sans-serif;font-size: 20px;font-weight: bold" ng-click="homeGuestCtrl.open(homeGuestCtrl.pois[1])">
				<div>
					<p>{{homeGuestCtrl.pois[1].name}}</p>
					<img src={{homeGuestCtrl.pois[1].picture}} width="400" height="250">
				</div>
			</td>
			<td class="POI" id="poi2" style="font-family: Montserrat, sans-serif;font-size: 20px;font-weight: bold" ng-click="homeGuestCtrl.open(homeGuestCtrl.pois[2])">
				<div>
					<p>{{homeGuestCtrl.pois[2].name}}</p>
					<img src={{homeGuestCtrl.pois[2].picture}} width="400" height="250">
				</div>
			</td>
		</tr>
	</table>
</div>